version: "3.8"

services:
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo-data:/data/db

  backend:
    image: rohitatole29/mean-backend:latest
    restart: always
    environment:
      - MONGO_HOST=mongo
    depends_on:
      - mongo

  frontend:
    image: rohitatole29/mean-frontend:latest
    restart: always
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data:
